################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarkdownSplitter/.vs/MarkdownSplitter/FileContentIndex
